$primary-color: #44749d;
$secondary-color: #ff8c00;

body {
    margin: 0;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

.full-view-height-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: $primary-color;
    width: 100%;
    height: 100vh;
}

.section-title {
    h1 {
        margin: 0;
        font-size: 3.5em;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

#home-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    canvas {
        display: block;
        vertical-align: bottom;
    }
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    #title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        text-transform: uppercase;
        width: 17rem;
        height: 17rem;
        border-radius: 2px;
        background-color: rgba(68, 116, 157, 0.9);
        color: #ffffff;
        box-shadow: 0.1em 0.1em 0.3em 0.1em rgba(0, 0, 0, 0.26);

        hr {
            width: 68%;
            border: 0.5px solid #ffffff;
        }

        .title {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 5px;
        }

        .subtitle {
            font-size: 1rem;
            font-weight: 300;
        }
    }

    #nav-container {
        display: flex;
        justify-content: space-around;
        width: 17rem;

        @media only screen and (max-width: 415px) {
            margin-bottom: 2em;
        }

        .nav-button {
            padding: 0.75rem;
            font-weight: 300;
            border: 3px solid $primary-color;
            background-color: transparent;
            color: $primary-color;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: 0.3s all ease;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                color: #ffffff;
                background-color: $primary-color;
            }
        }
    }
}

#about {

    div {
        flex: 0 1 25%;
        padding: 0 2rem;

        p {
            margin: 0;
            font-weight: 300;
            font-size: 1.8em;
            line-height: 1.5;

            a {
                color: $primary-color;
                text-decoration: underline;

                &:hover {
                    color: $secondary-color;
                }

            }
        }
    }

}

#projects {
    #projects-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        width: 100%;

        .project-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 17rem;
            height: 17rem;
            border: 1px solid #000000;
            box-shadow: 0.1em 0.1em 0.3em 0.1em rgba(0, 0, 0, 0.26);
            margin: 25px;

            img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
                transition: 0.3s all ease-in-out;
            }

            div {
                position: absolute;
                height: 17rem;
                width: 17rem;
            }

            .caption {
                cursor: pointer;
                opacity: 0;
                transition: 0.3s all ease-in-out;

                .caption-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    color: #ffffff;
                    text-align: center;
                    padding-top: -0.5rem;
                    transition: 0.3s all ease-in-out;

                    h1 {
                        margin: 0;
                        border-bottom: 1px solid #ffffff;
                    }

                    span {
                        width: 90%;
                    }

                    &:hover {
                        padding-top: 0.5rem;
                    }
                }

                .blur {
                    background-color: rgba(0, 0, 0, 0.65);
                }

                &:hover {
                    opacity: 1;
                }
            }

            &:hover {
                img {
                    transform: scale(1.15, 1.15);
                }
            }
        }
    }
}